PORT=8084
CORS_ORIGIN=http://localhost:3001
FRONTEND_URL=http://localhost:3001
PUBLIC_BACKEND_URL=http://localhost:8084

JWT_SECRET=cambia-este-secreto
ADMIN_EMAIL=admin@cip.local
ADMIN_PASSWORD=Admin12345

DB_HOST=localhost
DB_PORT=3306
DB_USER=admin_sistema
DB_PASSWORD=123456
DB_NAME=parcial_agile

RENIEC_BASE_URL=https://api.decolecta.com/v1/reniec/dni?numero=
RENIEC_TOKEN=coloca-tu-token

MP_ACCESS_TOKEN=coloca-tu-token
MP_WEBHOOK_SECRET=
MP_ALLOW_INSECURE_URLS=true

COLLEGE_EMAIL=colegiodeingenieros@correo.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu-correo@gmail.com
SMTP_PASS=tu-clave-de-aplicacion
SMTP_FROM="Colegio de Ingenieros <tu-correo@gmail.com>"
